.post {
    border: 1px solid black;
    border-radius: 20px;
  
    width: 250px;
    padding: 20px;
    margin: 20px;
    background-color: whitesmoke;

}

.post .postHeader{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post .profilePhoto {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post .postImage{
    width: 250px;
    margin-top: 10px;

}

.post .postFooter{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}